/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 100%;
}

/* Header */
.logo {
  background-color: black;
  display: flex;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  height: 69px;
  align-items: center;
  z-index: 1;
}

.logo img {
  height: 50px;
  width: auto;
  display: inline-flex;
  margin-right: 1200px;
  margin-left: 10px;
}

.logo a {
  color: seashell;
}

.logo li {
  list-style: none;
  display: inline;
  margin: 5px;
}

/* Content */


/* Mission */

.mission {
 background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
 background-repeat: no-repeat;
 background-position: bottom center;
 height: 700px;
 width: auto;
}

.mission hgroup {
  position: relative;
  top: 300px;
  width: 100%;
  height: auto;
  background-color: black;
  text-align: center;
}




/* Tea of the Month */
